<a href="/logout"> Logout</a>

<h1>Encode</h1>

<form action="/encode" method="POST">

  <input type="text" name="userInput">

  <button type="submit">Encode</button>
</form>

<% if (locals.result) { %>
<div>Result:
  <p class="result">
      <%= result || null%>
  </p>
</div>
<% } %>